@charset "utf-8"; /* 声明编码集 */
$red: #ff1268;
$f8: #f8f8f8;
$fff: #fff;
$border: #ebebeb;
$c9b: #9b9b9b;
$hand: pointer;
.sea {
    height: 72px;
    position: relative;

    .logo {
        width: 92px;
        margin-top: 15px;
        float: left;
        img {
            width: 92px;
        }
    }
    .quanguo {
        float: left;
        position: relative;
        margin-left: 54px;
        line-height: 72px;
        white-space: nowrap;
        cursor: $hand;
        .location {
            width: 12px;
            display: inline-block;
            vertical-align: middle;
        }
        .city {
            max-width: 60px;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            margin-right: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .bottom {
            width: 9px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .shouye {
        max-width: 220px;
        height: 100%;
        float: left;
        margin-right: -20px;
        margin-left: 40px;
        line-height: 72px;
        overflow: hidden;
        :first-child {
            display: inline-block;
            font-size: 16px;
            margin-right: 18px;
            overflow: hidden;
            color: $red;
        }
        :last-child {
            display: inline-block;
            font-size: 16px;
            color: #000;
            margin-right: 18px;
            overflow: hidden;
        }
        :last-child:hover {
            color: $red;
        }
    }
    .right {
        min-width: 55px;
        height: 100%;
        float: right;
        line-height: 72px;
        display: flex;
        flex-direction: row;
        width: 268px;
        justify-content: space-around;
        .user:hover,
        .download:hover,
        .english:hover {
            cursor: $hand;
            color: $red;
        }
        img {
            width: 26px;
            z-index: 20000;
            display: inline-block;
            margin-right: 4px;
            vertical-align: middle;
        }
    }
    .search {
        width: 401px;
        height: 46px;
        margin-top: 12px;
        margin-right: 20px;
        line-height: 46px;
        float: right;
        position: relative;
        display: flex;
        flex-direction: row;
        img {
            width: 17px;
            position: absolute;
            left: 22px;
            top: 15px;
            z-index: 11;
        }
        input {
            width: 253px;
            height: 44px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            font-size: 16px;
            background: transparent;
            outline: 0;
            border: 0;
            padding: 0 10px 0 54px;
            border-top-left-radius: 46px;
            border-bottom-left-radius: 46px;
            border: 1px solid $f8;
            background-color: $f8;
            border-right-color: $red;
            box-sizing: content-box;
        }
        .btn {
            width: 82px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: $red;
            line-height: 46px;
            font-size: 16px;
            text-align: center;
            color: $fff;
            border-radius: 0 27px 27px 0;
            z-index: 11;
            letter-spacing: 4px;
            cursor: $hand;
        }
    }
}
