.main-sort {
    height: 38px;
    line-height: 38px;
    background: #f5f5f5;
    border: 1px solid #eaeaea;
    font-size: 14px;
    .sort_fl {
        float: left;
        span {
            display: inline-block;
            height: 100%;
            padding: 0 24px;
            border-right: 1px solid #eaeaea;
            color: #666;
            cursor: pointer;
        }
    }
    .sort_fr {
        border-left: 1px solid #eaeaea;
        float: right;
        width: 120px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .sort_num {
            min-width: 48px;
            line-height: 39px;
            font-size: 12px;
            float: left;
            text-align: center;
        }
    }
}
